@mixin media($device, $type: "max") {
  $breakpoints: (
    desktop: 1080px,
    tablet: 768px,
    mobile: 640px,
  );
  @if ($type == "min") {
    @media (min-width: map-get($breakpoints, $device)) {
      @content;
    }
  } @else {
    @media (max-width: map-get($breakpoints, $device)) {
      @content;
    }
  }
}

@mixin hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}
