$breakpoint-desktop: 1080px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
